@model COOP_project.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Major)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Major.majorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdGuid">Edit</a> |
    <a asp-action="Index">Back to List</a>|
    <a asp-controller="Users" asp-action="adminPage">Back to Admin Dashboard</a>
</div>
