
@model IEnumerable<COOP_project.Models.Order>
<body class="bg-soft-dark">
    <section class="container">
        <script>
            
            function sendForm(e) {
                e.preventDefault();

                Swal.fire({
                    title: 'Do you want to delete your submission?',
                    icon: 'question',
                    showCancelButton: true,
                    showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                    },
                }).then(result => {
                    if (result.isConfirmed) {
                        const del = document.getElementById('delForm');
                        del.submit();
                    }

                })
            }
        @{
            if(@ViewData["succ"] != null)
            { 
                
                    <Text>
                        $(document).ready(function () 
                        {
                         var result = '@Html.Raw(ViewData["succ"])';
                         Swal.fire(result, '', 'success')
                                .then(
                                    function () 
                                    {
                                        window.location.href = '@Url.Action("showOrders","Orders")';
                                    }
                                );
                        });
                    </Text>
            }
        }
        </script>
    @if(Model.Count()==0)
	{
        <h1 class="text-center">You didnt sign to voulnteer works</h1>
    }
    else
    {
        <div class="table-responsive">
           @* <h3 class="text-danger text-center">@ViewBag.fail</h3>
            <h3 class="text-success text-center">@ViewBag.succ </h3>*@
            <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead class="table-light">
                    <tr>
                        <th class="all" style="width: 20px;">
                            <div class="form-check font-16 mb-0">
                                <label class="form-check-label" for="productlistCheck">&nbsp;</label>
                            </div>
                        </th>
                        <th class="all">Voulnteer Work</th>
                        <th>Building</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Supervisor</th>
                        <th></th>
                        <th>Status</th>
                        <th style="width: 85px;">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    
                        <tbody class="bg-white">
                            <tr>
                                <td>
                                    <div class="form-check font-16 mb-0">
                                        <label class="form-check-label" for="productlistCheck1">&nbsp;</label>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="m-0 d-inline-block align-middle"><a href="#" class="text-dark">@item.Work.workName</a></h5>
                                </td>
                                <td>
                                    <span>@item.Work.Building.buildingName</span>
                                </td>
                                <td>
                                    @item.Work.Date
                                </td>
                                <td>
                                        @item.Work.endDate
                                </td>
                                <td>
                                    <div>
                                        @item.Work.User.Name
                                    </div>
                                </td>

                                <td>
                                </td>
                                <td>
                                    @if (item.isSigned == true)
                                    {
                                        <span class="badge badge-soft-primary">In progress</span>
                                    }
                                    else if (item.isRejected == true)
                                    {
                                        <span class="badge badge-soft-danger">Rejected</span>
                                    }
                                    else if (item.isAccepted == true)
                                    {
                                        <span class="badge badge-soft-success">Accepted</span>
                                    }
                                    else if (item.isDone == true)
                                    {
                                        <span class="badge badge-soft-success">Done</span>
                                    }
                                </td>
                                <td>
                                    <ul class="list-inline table-action m-0">
                                        <li class="list-inline-item">
                                            <a asp-action="workInfo" asp-route-id="@item.Work.IdGuid" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                        </li>

                                        <li class="list-inline-item">
                                            @if (item.isSigned == true)
                                            {
                                                <form method="post" id="delForm" onsubmit="sendForm(event)" asp-action="showOrders">

                                                    <button style="border: none;background: none;" type="submit" class="action-icon">
                                                        <i class="mdi mdi-delete"></i>
                                                    </button>
                                                    

                                                </form>
                                            }
                                        </li>


                                    </ul>
                                </td>
                            </tr>

                        </tbody>
                }
                

            </table>
        </div>
    }

	
	
	<!--Work Name-->
    
   
    
    </section>
</body>
@section Scripts{
    
}
